@model BanHangThoiTrangMVC.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    body {
        background-image: url('https://i.pinimg.com/originals/93/db/b4/93dbb416b9ed038550c596f871cb0177.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-card-body {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="card-body login-card-body">
    <p class="login-box-msg">Đăng nhập quản trị |<a href="/home">Quay về trang chủ</a></p>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tài khoản" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mặt Khẩu" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @Html.CheckBoxFor(x => x.RememberMe)
                    <label for="remember">
                        Ghi nhớ tôi
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
            </div>
        </div>
    }

    <p class="mb-1">
        <a href="#">Quên mật khẩu</a>
    </p>
</div>
